@{
    Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml";
}
@section Styles {
    <meta charset="utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css" />
    <link href="/Content/Styles/bcms.light.layout.css" rel="stylesheet" />
    <link href="/Content/Styles/bcms.light.content.css" rel="stylesheet" />
    @RenderSection("Styles", false)
}
@section HeadScripts {
    @RenderSection("HeadScripts", false)
}
@section BodyAttributes { 
    style="zoom: 1;"
    @RenderSection("BodyAttributes", false)
}
<div class="page">
    <header class="page-header">
        <div class="page-frame clearfix">
            @Html.Partial("Partial/_Header")
        </div>
    </header>
    <div class="page-block">
        <div class="page-frame clearfix">
            @RenderBody()
        </div>
    </div>
</div>
<footer class="page-footer">
    <div class="page-frame clearfix">
        @Html.Partial("Partial/_Footer")
    </div>
</footer>
@section Scripts {
    @RenderSection("Scripts", false) 
}