<script src="@Url.Content("~/Scripts/gallery.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.coverflow.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.interpolate.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.mousewheel.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.touchSwipe.min.js")"></script>
    
<script type="text/html" id="gallery-template"><div class="gallery-view" id="images-gallery-container"></div>
    <div class="gallery-title" style="top: 408px;">
        <h1></h1>
        <h2></h2>
    </div>
    <div class="gallery-scrollbar">
        <div class="gallery-slider"></div>
    </div>
    <div id="gallery-thumbnails" class="thumbnails clearfix"></div>
</script>
    
<script type="text/html" id="gallery-thumbnail-template"><a><img src="" alt="" /></a></script>
<script type="text/html" id="gallery-image-modal-template"><div class='lightbox-image'><img alt='' src='' /></div></script>