@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<div class="contact-info  clearfix">
    <div class="clearfix" style="min-height:50px;">
        <div class="contact-address" style="min-width:225px;">
            @RenderSection("LeftTop", false)
        </div>
        <div class="contact-social" style="min-width:225px;">
            @RenderSection("MiddleTop", false)
        </div> 
    </div> 
    <div class="contact-map" style="min-width:550px;">
        @RenderSection("LeftBottom", false)
    </div> 
</div>
<div style="float:right; width:380px;">
    @RenderSection("CMSMainContent", false)
    @RenderBody()    
</div>