@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section HeadScripts {
    <!--[if lt IE 9]>
        <script src="/Scripts/modernizr.js"></script>
    <![endif]-->
}
<section class="home-banner" id="home-slides">
    @RenderSection("Header", false)
</section>
<div class="home-bottom clearfix">
    <article>
        @RenderSection("CMSMainContent", false)
    </article>
    <section class="home-gallery">
        @RenderSection("Right", false)
    </section>
</div>
@RenderBody()
@section Scripts {
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
@*    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>*@
    <script src="/Scripts/jquery.accordion.js"></script>
    <script src="/Scripts/slides.min.jquery.js"></script>
@*    <script src="/Scripts/coverflow.js"></script>*@
@*    <script src="/Scripts/gallery.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $("#home-slides").slides({
                container: 'banner-image',
                generatePagination: true,
                slideSpeed: 200,
                effect: 'slide'
            });
            $('#home-banner').accordion({
                header: 'a',
            });

//            $(".gallery-slider").draggable({ axis: "x", containment: "parent" });
        });
    </script>
    @RenderSection("Scripts", false) 
}