@using BetterCms.Module.Gallery.Controllers
@using BetterCms.Module.Gallery.ViewModels;
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc
@using BetterCms.Module.Root.Mvc.Grids.Extensions
@using BetterCms.Module.Root.Mvc.Grids.TableRenderers
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.ViewModels.SiteSettings;
@using MvcContrib.UI.Grid
@using Microsoft.Web.Mvc
@model SearchableGridViewModel<SiteSettingsAlbumViewModel>
@{
    Action<ColumnBuilder<SiteSettingsAlbumViewModel>> columns = column =>
    {
        column.EditButtonColumn();

        column.For(m => m.Title)
            .Named("Title") // TODO: add to globalization.
            .SortColumnName("Title")
            .Attributes()
            .Encode(false);

        column.DeleteButtonColumn();
    };
}

@using (Html.BeginForm<GalleryController>(f => f.Index(null), FormMethod.Post, new { @id = "bcms-gallery-form" }))
{
    @Html.HiddenGridOptions(Model.GridOptions)

    <div class="bcms-top-block-holder">
        <div class="bcms-btn-links-main" id="bcms-create-blog-button">New Album +</div> @* TODO: add to globalization. *@
        <div class="bcms-search-block">
            @Html.TextBoxFor(m => m.SearchQuery, new { @class = "bcms-editor-field-box bcms-search-query", @placeholder = RootGlobalization.WaterMark_Search })
            <div class="bcms-btn-search" id="bcms-gallery-search-btn">Search</div> @* TODO: add to globalization. *@
        </div>
    </div>
    
    @Html.SiteSettingsMessagesBox()

    @Html.Grid(Model.Items).Sort(Model.GridOptions).Columns(columns).Attributes(@class => "bcms-tables").RenderUsing(new EditableHtmlTableGridRenderer<SiteSettingsAlbumViewModel>())
}

<script type="text/html" id="bcms-blogs-list-row-template">
    @Html.Grid(new List<SiteSettingsAlbumViewModel> {new SiteSettingsAlbumViewModel()}).Columns(columns).Attributes(@class => "bcms-tables").RenderUsing(new HtmlTableGridSingleRowRenderer<SiteSettingsAlbumViewModel>())
</script>
