@using BetterCms.Demo.Web
@{ Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml"; }

<!DOCTYPE html>
<html>
<head>
    <title>Bcms Light Layout</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <link href="/Content/Styles/bcms.light.layout.css" rel="stylesheet" />
    <link href="/Content/Styles/bcms.light.content.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/modernizr.js")"></script>
    <![endif]-->
</head>
<body>
    @Html.Raw(MvcApplication.Resetter.GetHtml())
    <div class="page">
        <header class="page-header">
            <div class="page-frame clearfix">
                <a href="/" class="logo">
                    <img src="/Content/images/logo.png" alt="BetterCMS" />
                </a>
                <nav class="page-navigation" id="site-nav">
                    @{ Html.RenderAction("Index", "SiteMap", new { area = "" }); }
                </nav>
            </div>
        </header>

        <div class="page-block">
            
            <div class="default-messages-container">
                <div class="error-user-message-container">
                    <ins class="icon-static"></ins>
                    <div class="error user-message">
                    </div>
                </div>
                <div class="success-user-message-container">
                    <ins class="icon-static"></ins>
                    <div class="success user-message">
                    </div>
                </div>
            </div>

            <div class="page-frame clearfix">                
                @RenderSection("MainContent", false)
                @RenderBody()
            </div>
        </div>

    </div>

    <footer class="page-footer">
        <div class="page-frame clearfix">
            <span class="copyright">&copy; @DateTime.Now.Year Better CMS</span>
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Scripts/validation.extenders.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.accordion.js")"></script>
    <script src="@Url.Content("~/Scripts/slides.min.jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/messages.js")"></script>
    <script src="@Url.Content("~/Scripts/forms.js")"></script>

    @RenderSection("Scripts", false)
</body>
</html>
