
@{
    Layout = "~/Views/Shared/Layouts/Light/_LightOneColumnLayout.cshtml";
}

@section MainContent {
    <section class="home-banner" id="home-slides">
        @RenderSection("Slider", false)
    </section>
    
    <div class="home-bottom">
        <article>
            @RenderSection("Article", false)
        </article>
        
        <section class="home-gallery">
            <div id="gallery-main-content" style="visibility: hidden;">
                @RenderSection("SideBar", false)
            </div>
        </section>
    </div>
}

@section HeadScripts {
     <link href="/Content/Styles/bcms.light.gallery.css" rel="stylesheet" />
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", false)
    @Html.Partial("Layouts/Light/Partial/_GalleryScripts")
    <script src="@Url.Content("~/Scripts/gallery.home.js")"></script>
}
